<footer>
	<div class="wrapper">
		<div class="partners">
			<a href="http://www.seedcamp.com" target="_blank"><img src="/assets/img/partners/seedcamp.png"></a>
			<a href="http://www.ignite.io" target="_blank"><img src="/assets/img/partners/ignite.svg" style="top:11px;"></a>
			<a href="http://www.northstarventures.co.uk" target="_blank"><img src="/assets/img/partners/northstar.png" style="top:3px;margin-right:0px;"></a>
		</div>
		<div class="fom">
			<div class="frame_border">
				<a href="http://www.festivalofmedia.com/" target="_blank"><img src="/assets/img/fom.png"></a>
			</div>
		</div>
		<div class="copyright">
			Copyright © Now Native <script type="text/javascript">document.write(new Date().getFullYear());</script>. London, UK. All rights reserved. <img src="/assets/img/hand.png" class="hand">
		</div>
	</div>
</footer>